@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Code+Pro&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #EDEEF0;
  overflow: hidden; }
  body button.btn:focus, body button.btn:active {
    box-shadow: none;
    border: 0; }
  body .form-control:focus, body .form-control:active {
    box-shadow: none;
    border: 0; }
  body nav {
    background-color: #F5F6F8;
    box-shadow: 0 0 8px lightslategrey;
    width: 100%;
    align-items: center;
    justify-content: space-between; }
    body nav .navbar-brand img {
      width: 40px; }
  body .components-wrap {
    display: flex;
    overflow-y: auto;
    margin: 20px auto;
    padding: 20px 50px; }
    body .components-wrap .add__currence__wrap {
      width: 30%;
      position: relative; }
      body .components-wrap .add__currence__wrap .add_currency_box {
        background-color: #ffffff;
        width: 100%;
        padding: 20px;
        border-radius: 0;
        box-shadow: 0 0 10px #a5a3a3; }
      body .components-wrap .add__currence__wrap .convert__link {
        position: absolute;
        right: 0;
        bottom: 25%;
        padding: 5px 10px;
        background-color: #2789da;
        color: #ffffff;
        margin-top: 20px;
        display: inline-block; }
    body .components-wrap .List-box {
      width: 90%;
      height: 70vh;
      background-color: #ffffff;
      border: 1px solid lightgray;
      border-radius: 4px;
      box-shadow: 0 0 10px #d4d2d2;
      padding: 15px;
      margin-left: 30px; }
      body .components-wrap .List-box .buttons button {
        border: 1px solid #cfc4c4;
        color: #2789DA;
        transition: all 0.1s linear; }
        body .components-wrap .List-box .buttons button:hover {
          box-shadow: 0 2px 5px #c8c8c8; }
        body .components-wrap .List-box .buttons button:active {
          box-shadow: 0 2px 6px #8a8888; }
      body .components-wrap .List-box .list-wrapper {
        height: 75%;
        overflow-y: auto;
        background-color: #F5F6F8; }
        body .components-wrap .List-box .list-wrapper h3 {
          color: #bebdbd; }
        body .components-wrap .List-box .list-wrapper table {
          width: 100%; }
          body .components-wrap .List-box .list-wrapper table tbody tr {
            margin: 7px auto;
            background-color: rgba(255, 255, 255, 0.8);
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            body .components-wrap .List-box .list-wrapper table tbody tr td {
              border: 1px solid #dddbdb;
              padding: 6px;
              border-radius: 4px;
              box-shadow: 0 4px 3px lightgrey; }
              body .components-wrap .List-box .list-wrapper table tbody tr td button.btn {
                padding: 0; }
  body .container .result {
    padding: 22px;
    border: 1px solid #e4dede;
    width: fit-content;
    background: #fff;
    border-radius: 4px;
    font-family: 'Source Code Pro', monospace;
    margin-top: 30px; }
    body .container .result span {
      display: block;
      color: grey; }
  body .not-found {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden; }
    body .not-found .row {
      align-items: center; }
      body .not-found .row h1 {
        font-size: 100px;
        font-weight: 900; }
      body .not-found .row p {
        font-size: 40px; }
      body .not-found .row a {
        border: 1px solid #727171;
        padding: 10px 20px;
        transition: all 0.2s linear;
        color: #727171; }
        body .not-found .row a:hover {
          background-color: #727171;
          color: #ffffff; }

/*# sourceMappingURL=main.css.map */
